<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNet_Core_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id="wrapper">
        <header>
            <h1><img src="~/Images/javalogo.gif"/></h1>
        </header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index" id="homelink">Home</a></li>
                <li><a asp-controller="Home" asp-action="Menu" id="menulink">Menu</a></li>
                <li><a asp-controller="Home" asp-action="Music" id="musicLink">Music</a></li>
                <li><a asp-controller="Applicants" asp-action="Create">Jobs</a></li>
                <li><a asp-controller="Applicants" asp-action="Index">Admin</a></li>
            </ul>
        </nav>
        <main id="content">
            @RenderBody()
        </main>
        <footer>
            Copyright &copy; 2018 JavaJam Coffee House<br />
            <a href="mailto:JavaJam@nowhere.com">JavaJam@nowhere.com</a>
        </footer>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
