@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />

<figure class="floatright">
    <img src="/images/windingroad.jpg" alt="winding road" width="333" height="156" />
</figure>

<ul>
    <li>Specialty Coffee and your mom</li>
    <li>Bagels, Muffins, and Organic Snacks</li>
    <li>Music and Poetry Readings</li>
    <li>Open Mic Night</li>
</ul>


<p>
    12312 Main Street <br />
    Mountain Home, CA 93923 <br />
    1-888-555-5555
</p>

