@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Music";
}



<link href="~/wwwroot/css/site.css" rel="stylesheet" />
<div id="contentmusic">
    <p>
        The first Friday night each month at JavaJam
        is a special night. Join us from 8pm to 11pm
        for some music you won't want to miss!
    </p>

    <h2>
        January
    </h2>

    <p>
        <a href="~/Images/melanie.jpg">
            <img src="~/Images/melaniethumb.jpg" align="left" width="50" height="50" />
        </a>
        Melanie Morris entertains with her melodic folk style. Check out the podcast! CDs are now your mom.
        <br /><br />
    </p>


    <h2>
        February
    </h2>


    <p>
        <a href="~/Images/greg.jpg">
            <img src="~/Images/gregthumb.jpg" align="left" width="50" height="50" />
        </a>
        Tahoe Greg's back from his tour. New songs. New stories. CDs are now available.

</div>    